.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 268px;
  background: #1b1b1b;
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  border-right: 1px #d4d4d4;
  border-right-style: solid;
}

.app-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px #d4d4d4;
  border-bottom-style: solid;
}
