.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background: #1b1b1b;
  overflow: auto;
  position: fixed;
  border-right: 1px #d4d4d4;
  border-right-style: solid;
}

.app-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 145px;
  border-bottom: 1px #d4d4d4;
  border-bottom-style: solid;
}
