.to-do-list-container {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 25px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  background: #303030;
  padding: 8px;
  padding-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter {
  color: #959595;
  font-size: 14px;
}

.show-hide {
  display: flex;
  align-items: center;
  gap: 3px;
}

.title svg {
  height: 100%;
}
