.ul-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.custom-cat-container {
  display: flex;
  justify-content: space-between;
}

.custom-cat-container-active {
  background: #303030;
}

.ul-li-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-left: 25px;
  cursor: pointer;
}

.ul-li-item-active {
  background: #303030;
}

.custom-cat-container button {
  margin-right: 25px;
}

.separator {
  border-bottom: 1px solid #5e5e5e;
  height: 0px;
  padding: 0;
}
