.ul-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.custom-cat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  gap: 10px;
}

.custom-cat-container-active {
  background: #303030;
}

.ul-li-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.ul-li-item-active {
  background: #303030;
}

.delete-button {
  all: unset;
  height: 100%;
  width: 30px;
}

.delete-button svg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.counter,
.custom-counter,
.delete-button svg {
  cursor: pointer;
  color: #6c6c6c;
}

.today-counter-container p {
  color: #ffffff;
}

.separator {
  border-bottom: 1px solid #5e5e5e;
  height: 0px;
  padding: 0;
}
