.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 160px;
}

@media only screen and (max-width: 850px) {
  .container {
    margin-top: 80px;
  }
}

.new-to-do-container {
  display: flex;
  gap: 10px;
}

.new-to-do {
  all: unset;
  background: #303030;
  color: #ffffff;
  /* width: 100%; */
  padding: 10px;
  padding-left: 25px;
}

.options-container {
  display: flex;
  gap: 10px;
}

@media only screen and (min-width: 850px) {
  .new-to-do {
    width: 100%;
  }
}

.select {
  width: 100px;
  background: #303030;
  border-color: transparent;
  border-radius: 0px;
}

@media only screen and (max-width: 850px) {
  .new-to-do-container {
    flex-direction: column;
  }

  .select {
    width: 100%;
  }
}

.select:focus {
  outline: none;
  /* border: 1px solid #bebebe; */
}

.new-to-do-button {
  background-color: #303030 !important; /* ⚠️⚠️⚠️ */
}
