* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  background: #1b1b1b;
  color: #ffffff;
}

:root {
  color-scheme: dark;
}

main {
  display: flex;
}

section {
  width: 100%;
  margin-left: 268px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
