.container {
  width: -webkit-fill-available;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px #d4d4d4;
  border-bottom-style: solid;
  position: fixed;
  background: #1b1b1b;
  z-index: 1;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.container h1 {
  padding-right: 25px;
}
